<p id="notice"><%= notice %></p>

<% @questions.each_with_index do |question, index| -%>
  <h3>問.<%= index + 1 %> <%= raw question.detail %></h3>
  <% question.answers.each do |answer| -%>
    <p><%= raw answer.title %></p>
  <% end -%>
<% end -%>
