<p id="notice"><%= notice %></p>

<% @questions.each do |question| -%>
  <br><%= question.detail.html_safe %>
  <% question.answers.each do |answer| -%>
    <p><%= answer.title %></p>
  <% end -%>
<% end -%>
